---
layout: default
body_classes: page-blog
title: News And Events
description: "The latest news and events"
header_transparent: false
header_color_mode: dark

hero:
  enabled: true
  heading: "Latest News & Events"
  text_color: "#FFFFFF"
  background_color: "#1d2830"
  background_gradient: true
  background_image: false
  background_image_blend_mode: overlay
  fullscreen_mobile: false
  fullscreen_desktop: false
  height: "330px"
  buttons:
    enabled: true
    list:
      - text: "Click here to download Newsletter 1.0"
        url: "https://nyeinchan85.github.io/PDF_project_test/assets/newsletters/PDF%20Newsletter%202_Sept%20%202024.pdf"
        external: true
        fa_icon: false
        size: large
        outline: false
        style: "primary"
---

{% if page.hero.enabled %}
  <section class="hero-section" style="
    {% if page.hero.background_color %}background-color: {{ page.hero.background_color }};{% endif %}
    {% if page.hero.background_image %}background-image: url('{{ page.hero.background_image }}'); background-size: cover; background-position: center;{% endif %}
    {% if page.hero.text_color %}color: {{ page.hero.text_color }};{% endif %}
    height: {{ page.hero.height | default: '300px' }};
    padding-top: 6rem;
  ">
    <div class="container text-
